.messageListWrapper {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: flex-start;

  > img {
    height: 28px;
    margin: 32px 0;
  }
}

.messageList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 40px;
  flex: 1;

  .message {
    max-width: 440px;

    &:nth-child(2) {
      margin-left: 80px;
    }

    .messageContent {
      font-size: 20px;
      line-height: 28px;
    }

    .messageUser {
      margin-top: 16px;
      display: flex;
      align-items: center;

      .userImage {
        padding: 2px;
        background: linear-gradient(
          100deg,
          var(--background-gradient-user-image01) 0%,
          var(--background-gradient-user-image02) 100%
        );
        border-radius: 50%;
        line-height: 0;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 4px solid var(--background);
        }
      }

      span {
        font-size: 16px;
        margin-left: 12px;
      }
    }
  }
}
