:root {
  --primary: #e1e1e6;
  --background: #121214;

  /* LOGIN BOX  */
  --background-login-box: #17171a;
  --background-signin-github: #ffcd1e;
  --color-sigin-github: #09090a;

  /* MESSAGE LIST */
  --background-gradient-user-image01: #ff008e;
  --background-gradient-user-image02: #ffcd1e;

  /* SEND MESSAGE FORM */
  --background-send-message-form: #1b1b1f;
  --color-send-message-form-primary: #c4c4cc;
  --background-send-message-form: #202024;
  --background-send-message-label: #29292e;
  --color-textarea-placeholder: #8d8d99;
}
