.sendMessageFormWrapper {
  background-color: var(--background-send-message-form);
  padding: 24px;
  align-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  position: relative;
}

.signOutButton {
  background: transparent;
  border: 0;
  color: var(--color-send-message-form-primary);

  position: absolute;
  left: 24px;
  top: 24px;

  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}

.userInformation {
  display: flex;
  flex-direction: column;
  align-items: center;

  .userImage {
    padding: 2px;
    background: linear-gradient(
      100deg,
      var(--background-gradient-user-image01) 0%,
      var(--background-gradient-user-image02) 100%
    );
    border-radius: 50%;
    line-height: 0;

    img {
      width: 94px;
      height: 94px;
      border-radius: 50%;
      border: 4px solid var(--background);
    }
  }

  .userName {
    font-size: 24px;
    line-height: 30px;
    margin-top: 16px;
  }

  .userGithub {
    display: flex;
    align-items: center;

    margin-top: 8px;
    color: var(--color-send-message-form-primary);

    svg {
      margin-right: 8px;
    }
  }
}

.sendMessageForm {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-top: 48px;

  background: var(--background-send-message-form);

  label {
    padding: 18px 24px;
    font-size: 20px;
    background: var(--background-send-message-label);
    font-weight: bold;
    text-align: left;
  }

  textarea {
    background: transparent;
    border: 0;
    padding: 24px;
    resize: none;
    height: 160px;
    color: var(--primary);
    font-size: 16px;
    line-height: 24px;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: var(--color-textarea-placeholder);
    }
  }

  button {
    align-self: flex-end;
    background: var(--background-gradient-user-image01);
    margin: 24px;
    padding: 0 32px;
    border: 0;
    height: 40px;
    color: var(--primary);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      filter: brightness(0.9);
    }
  }
}
