.loginBoxWrapper {
  height: 100vh;
  width: 100%;
  background: var(--background-login-box) url(../../assets/banner-girl.png)
    no-repeat center top;

  padding: 440px 80px 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  strong {
    font-size: 32px;
    line-height: 36px;
  }

  .signInWithGithub {
    background: var(--background-signin-github);
    margin-top: 32px;
    padding: 0 40px;
    height: 56px;
    color: var(--color-sigin-github);
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 16px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.loading {
  padding: 8px;
  background: linear-gradient(
    150deg,
    var(--background-gradient-user-image01) 0,
    var(--background-gradient-user-image02) 100%
  );
  background-size: 400% 400%;
  animation: background-animation 2s infinite linear;
}

@keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
